<section class="region w-100 h-100 flex flex-column flex-align-center">
  <span class="country-title title">{{country}}</span>
  <div *ngIf="countryDetails$ | async else loading" class="country flex flex-column">
    <div class="country-flagWithShortName flex">
      <img class="country-flag" src="{{countryDetails.flags.svg}}" alt="flag"/>
      <span class="country-fifa title">{{countryDetails.fifa}}</span>
    </div>
    <div class="country-desc">
      <div class="country-desc-container">
        <span class="country-desc-container-item">Stolica: {{countryDetails.capital}}</span>
      </div>
      <div class="country-desc-container">
        <span class="country-desc-container-item">{{this.currencies.length === 1 ? 'Waluta' : 'Waluty'}}
          : {{this.currencies}}</span>
      </div>
      <div class="country-desc-container">
        <span class="country-desc-container-item">Populacja: {{countryDetails.population / 1000000 | number: '1.0-00'}}
          mln</span>
      </div>
      <div class="country-desc-container">
        <span class="country-desc-container-item">{{countryDetails.tld.length === 1 ? 'Domena' : 'Domeny'}}
          : {{countryDetails.tld}}</span>
      </div>
      <div class="country-desc-container">
        <span class="country-desc-container-item">Mapy: <a class="first-link" href="{{countryDetails.maps.googleMaps}}"
                                                           target="_blank">Google Maps</a>   <a
          href="{{countryDetails.maps.openStreetMaps}}" target="_blank">Open Street Maps</a></span>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-refresh></app-refresh>
  </ng-template>
</section>
