.main-section {
  margin: auto;
  min-width: 60vw;
  width: 60vw;
  height: 80vh;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
