<div class="flex flex-column flex-justify-center flex-align-center">
  <h1 class="title">Something went wrong<br> we don't have such a component, check the url</h1>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?autoplay=1&controls=0"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
  <a class="button link" href="">Back to dashboard</a>
</div>
